<div class="sidebar">
  <div class="top-section">
    <img routerLink="/profile" src="../../assets/resources/sidebar/profile.png" />
    <div class="money-container">
      <p class="money">5.125</p>
      <p class="extra-money">12</p>
    </div>
  </div>
  <button routerLink="/map">Térkép</button>
  <img
    class="separator"
    src="../../assets/resources/sidebar/sidebar_separator.png"
  />
  <button routerLink="/tavern">Kocsma</button>
  <button routerLink="/arena">Aréna</button>
  <button routerLink="/weaponshop">Fegyverbolt</button>
  <button routerLink="/magicshops">Varázsbolt</button>
  <button routerLink="/stable">Istálló</button>
  <button routerLink="/nightshift">Esti műszak</button>
  <button routerLink="/dungeons">Kazamaták</button>
  <img
    class="separator"
    src="../../assets/resources/sidebar/sidebar_separator.png"
  />
  <button routerLink="/guild">Céh</button>
  <button routerLink="/mail">Levelek</button>
  <button routerLink="/quests">Napi küldetések</button>
  <button routerLink="/leaderboard">Ranglista</button>
  <button routerLink="/luckywheel">Szerencsejáték</button>
</div>
<div class="map">
  <img class="map" src="../../assets/resources/map/city.png" />
</div>
