<div class="shop-container magic-shop-container">
    <div class="sidebar-container">
        Sidebar placeholder
    </div>
    <div class="shop-right-container">
        <div class="character-profile-container">
            Character Profile placeholder
        </div>
        <div class="shop-panel-container">
            <div class="inventory-container">
                Inventory Placeholder
            </div>
            <div class="shopkeeper-container magic-shopkeeper-container">
            </div>
            <div class="new-goods-container">
                <button class="new-goods-button">New Goods</button>
            </div>
            <div class="shop-items-container">
                <img src="" alt="" class="item-image">
                <img src="" alt="" class="item-image">
                <img src="" alt="" class="item-image">
                <img src="" alt="" class="item-image">
                <img src="" alt="" class="item-image">
                <img src="" alt="" class="item-image">
            </div>
        </div>
    </div>
</div>